

 .content{
    display: grid;
    grid-template-columns: 50% auto;
    gap:30px;
    margin-top:70px;
    align-items:center;
    justify-content:space-between;
    width:100%
    
}

.content .content-left{
    display: block;
    width: 100%;
    margin-left: 100px;

}
.content .content-left .info{
    max-width: 100%;
 display: flex;
 flex-direction: column;   
}

.content .content-left .info .h2{
font-size: 60px;
font-family: sans-serif;
margin-bottom: 30px;

}

.content .content-left .info .h2 .p{
     font-size: 20px;
     line-height: 2pc;
     margin-bottom: 30px;
     font-family: sans-serif;

}
.content .content-right{
    display: block; 
    width: 100%;
} 
 .content .content-right img{
    width: 70%;
    height: 60%;
    position: relative;
    border-radius: 200px;
    animation: rotate 10s linear infinite;

}
